select span.main{
border: 1px black solid;
    display: inline-block;
    min-height: 20px;
    min-width: 40px;
}
.items{
    display: none;
    position: absolute;
    padding: 5px;
    border: 1px black  solid;
}
.item .selected{
    background-color: blue;
    color: white;
}
